@media screen and (max-width:600px) {
    #home-container {
        float: none;
    }
}

/* @media screen and (max-width:400px) {
    #email-span {
        float: none;
    }
    #username-span {
        float: none;
    }
} */